.app.dark {
    --bg-color: rgb(8 0 99);
    --primary-color: rgb(0 148 5);
    --secondary-color: rgb(36 237 1);
    --inverted-primary-color: rgb(30 61 173);
    --inverted-secondary-color: rgb(10 57 245);
}