.app.light {
    --bg-color: rgb(214 213 213);
    --primary-color: rgb(30 61 173);
    --secondary-color: rgb(10 57 245);
    --inverted-primary-color: rgb(0 148 5);
    --inverted-secondary-color: rgb(36 237 1);
}